body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: brown;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.contain-box {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: salmon;
}
.inbox {
  display: flex;
  justify-content: space-evenly;
}